include README.rst
include MANIFEST.in
include AUTHORS
include CHANGES
include LICENSE
include setup.py
include setup.cfg
include tox.ini

recursive-include docs *.py
recursive-include src *.html
recursive-include src *.json
recursive-include src *.py
recursive-include src *.coveragerc
recursive-include src *.pip

recursive-include tests *

exclude Makefile
