include README.rst
include MANIFEST.in
include AUTHORS
include CHANGES.md
include LICENSE
include setup.py
include setup.cfg
include tox.ini

recursive-include docs *.py
recursive-include src *.html
recursive-include src *.json
recursive-include src *.py
recursive-include src *.js
recursive-include src *.css
recursive-include src *.coveragerc
recursive-include src *.pip

recursive-include tests *

recursive-exclude tests *.pyc
recursive-exclude src *.pyc
recursive-exclude tests ~*
recursive-exclude src ~*

exclude Makefile
exclude .bumpversion.cfg
exclude .isort.cfg
exclude .flake8
