{% load i18n %}
<h3>{% blocktrans with title as filter_title %} By {{ filter_title }} {% endblocktrans %}</h3>
<ul><li><select style="max-width: 95%" id="ac_{{ spec.field.name }}"
                data-ajax--cache="true"
                data-ajax--delay="250"
                data-ajax--qs="{{ spec.query_string }}"
                data-ajax--param="{{ spec.lookup_kwarg }}"
                data-ajax--type="GET"
                data-ajax--url="{{ spec.url }}"
                data-theme="admin-autocomplete"
                data-allow-clear="true"
                data-placeholder=""
                class="admin-autocomplete">
    {% for c in choices %}<option selected="selected">{{ c }}</option>{% endfor %}
</select>
    </li>
</ul>
{{ spec.media }}
<script>
    ;
    (function ($) {
        $('#ac_{{ spec.field.name }}').change(function (e) {
            var sel = django.jQuery(e.target).find(':selected').val();
            var qs = $(e.target).data('ajax--qs');
            var param = $(e.target).data('ajax--param');
            var url = `${qs}&${param}=${sel}`;
            location.href = url;
        });

    })(django.jQuery);

</script>
