{% extends "adminfilters/_wrapper.html" %}{% load i18n %}
{% block content %}
    <ul>
        <li><input type="text"
                   style="width: 90%"
                   class="{{ spec.lookup_kwarg }}"
                   onblur="location.href='{{ spec.query_string }}&{{ spec.lookup_kwarg }}='+this.value"
                   onchange="location.href='{{ spec.query_string }}&{{ spec.lookup_kwarg }}='+this.value"
                   value="{{ spec.value.0 }}">
        </li>
    </ul>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        ;(function ($) {
            $(document).ready(function () {
                $("#{{ spec.lookup_kwarg }} input").on("keypress", function (e) {
                    if (e.which === 13) {
                        location.href = '{{ spec.query_string }}&{{ spec.lookup_kwarg }}=' + this.value;
                    }
                });
            });
        })(django.jQuery);
    </script>
{% endblock %}
