{% load i18n %}
<h3>{% blocktrans with title as filter_title %} By {{ filter_title }} {% endblocktrans %}</h3>
<ul>
    <li><input type="text"
               style="width: 90%"
               onblur="location.href='{{ spec.query_string }}&{{ spec.lookup_kwarg }}='+this.value"
               onchange="location.href='{{ spec.query_string }}&{{ spec.lookup_kwarg }}='+this.value"
            {#           onchange="location.href={{ choice.query_string|iriencode }}this.value"#}
               value="{{ spec.value.0 }}">
    </li>
</ul>
