name: Test

on:
  push:
    branches:
      - master
      - develop
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip tox
      - name: Lint with flake8
        run: |
          tox -e lint

  test:
    #        if: ${{github.event}} && ${{ !contains(github.event.head_commit.message, 'ci skip') }}
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:12
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: adminfilters
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    strategy:
      fail-fast: false
      matrix:
        django-version: [ "3.2", "4.2"]
        python-version: [ "3.9", "3.10", "3.11" ]
    env:
      DATABASE_URL: postgres://postgres:postgres@127.0.0.1:5432/adminfilters
      PY_VER: ${{ matrix.python-version}}
      DJ_VER: ${{ matrix.django-version}}
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: python -m pip install --upgrade pip .[test] "django==${DJ_VER}.*"

      - name: Test with
        run: py.test --selenium -vv --cov-report=xml --cov-report=term --junitxml=pytest.xml --cov-config=tests/.coveragerc --cov adminfilters

      - uses: codecov/codecov-action@v1
        with:
          verbose: true # optional (default = false)
